[access]
	inheritFrom = OSS/OSS-Parent
[access "refs/*"]
	owner = group oss_rc_ci
	read = deny group Replication_CNSH_ECN_DO_NOT_REMOVE
	read = deny group Replication_DEAC_ECN_DO_NOT_REMOVE
	read = deny group Replication_SELN_ECN_DO_NOT_REMOVE
	read = deny group Replication_USSJ_ECN_DO_NOT_REMOVE
	read = deny group SEKA_ECN_DEPRECATED_PLEASE_REMOVE_FROM_PROJECT_CONFIG
	read = group Registered Users
	read = group Replication_CAMO_ECN_DO_NOT_REMOVE
	read = group Replication_SEKI_ECN_DO_NOT_REMOVE
	read = group Replication_SELI_ECN_DO_NOT_REMOVE
[access "refs/heads/*"]
	read = group Registered Users
	push = deny group Registered Users
[access "^refs/heads/d.*"]
	create = group Registered Users
	push = deny group Registered Users
[access "refs/meta/config"]
	read = group Registered Users
[access "^refs/tags/d.*"]
	create = group Registered Users
	push = deny group Registered Users
	createTag = group Registered Users
